#main {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 0 auto;
}

#main-right {
  flex: 0 40%;
}

#main-left {
  flex: 0 50%;
  max-height: 450px;
  overflow: scroll;
}

#main-questions div {
    margin-bottom: 15px;
}

#main-questions select {
    margin-left: 10px;
}

#main-responses {
  margin-top: 20px;
}

#main-questions__save div {
    padding: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#main-questions__save div:hover {
    cursor: pointer;
}
